<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>List of Receipts</title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    {% if user.is_authenticated %}
                        Howdy, {{ user.username }}
                        <li>
                            <a href="{% url 'create_receipt' %}">Create Receipts</a>
                            <a href="{% url 'create_category' %}">Create Expense Category</a>
                            <a href="{% url 'create_account' %}">Create Account</a>
                            <a href="{% url 'category_list' %}">Category List</a>
                            <a href="{% url 'account_list' %}">Account List</a>
                            <a href="{% url 'receipt_list' %}">Receipt List</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{% url 'signup' %}">Sign Up</a>
                        </li>
                        <li>
                            <a href="{% url 'login' %}">Login</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </header>
    </body>
</html>
